/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

/* common styles */
body{
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
}

.header-section{
    background-image: url('../images/img-4.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

/* navbar styles / custome class */

.navbar-brand-img{
    width: 150px;
}

.navbar-items-division ul li a{
    position: relative;
}

.navbar-items-division ul li a::after{
    position: absolute;
    content: '';
    background-color: #72bc37;
    width: 0%;
    height: 3px;
    top: 30px;
    left: 0px;
    transition: .2s linear;
}

.navbar-items-division ul li:hover a::after{
    width: 100%;
}

.banner-info{
    /* height: 84vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.banner-info h1{
    /* font-size: 60px; */
    font-weight: bold;
}
.banner-info p{
    font-size: 18px;
    font-weight: bold;
}
.banner-button{
    width: 220px;
}

.donate-btn{
    padding: 10px 20px;
    border: 0;
    outline:none;
    background-color: #72bc37;
    color: white;
}

.nature-thrive{
    text-align: center;
}

.nature-thrive button{
    margin: 10px 20px;
    padding: 10px 20px;
    outline: none;
}

.btn-1{
    background-color: #72bc37;
    color: white;
    border: none;
    transition: .3s linear;
}

.btn-1:hover{
    border: 1px solid #72bc37;
    color: #72bc37;
    background-color: white;
}

.btn-2{
    border: 1px solid #72bc37;
    color: #72bc37;
    background-color: white;
    transition: .3s linear;
}   

.btn-2:hover{
    background-color: #72bc37;
    color: white;
    border: none;
}


.contest{
    position:relative;
}
.contest-info{
    position: absolute;
    bottom: 50px;
    left: 50px;
    color: white;
}

.contest-info p,
h1{
    margin: 10px 0;
}

.footer{
    background-color: black;
    color: white;
}